# IDE / IntelliJ
*.iml
.idea/
*.ipr
*.iws

# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio captures folder
captures/

# Keystore / Signatures
*.jks
*.keystore
*.p12
*.key
*.pem

# Google Services
# google-services.json

# Lint / Reports
lint/
build/reports/
build/outputs/

# Native / C++
.cxx/
.externalNativeBuild/

# OS specific
.DS_Store
